# .vscode
__pycache__/
*.pyc

venv/
*pb
*neff
*ntff
*key
*.log
neuronxcc-*
*.pt
*.safetensors
*vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
.env/

# Logs
*.log

# OS files
.DS_Store